a:link {
    text-decoration: none;
}

nav > a:link {
    color: white
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px
}

main {
    padding: 16px
}

h1 {
    color: darkblue
}

h3 {
    color: green
}

.recipe-grid-tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* column-gap: 16px;
    width: 200px; */
}

/* .recipe-grid-cover {
    grid-row-start: 1;
    grid-row-end: 6;
    width: 100%;
} */

footer {
    font-size: 16px;
    background-color: lime;
    padding: 15px 0px 15px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

tr:nth-child(even){
    background-color: lightgray
}

img {
    height: 200px
}

nav {
    font-size: 16px;
    color: white;
    background-color: teal;
    padding: 15px 0px 15px 10px;
    bottom: 0;
    left: 0;
    right: 0
}
